.login-register-section {
  padding: 22.5rem 0 20rem;
  background-color: rgb(241, 235, 231);
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 14rem;
  max-width: 98rem;
  margin-inline: auto;
}

.container * {
  flex: 1 1 0;
}

.login__title,
.register__title {
  text-transform: uppercase;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-xl-2);
  color: var(--color-black);
}
.login__title {
  margin-bottom: var(--margin-lg);
}
.security-text {
  margin-block: 1.9rem;
  line-height: var(--line-height-2);
}
.security-text:nth-of-type(2) {
  margin-bottom: 4.6rem;
}

.forgot-password {
  display: block;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 1.6rem;
  color: var(--color-black);
}

.register__terms-policy {
  font-size: 1.1rem;
  margin: 1.5rem 0 3rem;
  text-align: center;
}
.register__terms-policy a {
  display: inline;
  font-size: 1.1rem;
  color: var(--color-black);
  text-decoration: underline;
  letter-spacing: normal;
}

.register__required {
  text-align: center;

  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
