.reviews-filters {
  width: 83.33333%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: var(--flex-gap-lg);
  padding-left: var(--padding-xxl);
}

.reviews-filters > div {
  display: flex;
  flex-direction: column;
}

.reviews-filters label {
  font-weight: var(--font-weight-normal);
  margin-bottom: 3px;
  line-height: var(--line-height-2);
  font-size: var(--font-size-md);
  letter-spacing: var(--letter-spacing-medium);

  color: var(--color-blue-800);
}

.search-box {
  grid-column: 1/3;
}

.search-box input {
  font-weight: 400;
  padding-right: 36px;
}

.search-box button {
  display: inline-block;
  padding: 6px;
  width: 2.3rem;
  height: 2.3rem;

  margin-left: -3rem;
}

.sort-box {
  grid-column: 3/4;
}

.search-box,
.sort-box {
  grid-row: 1;
  margin-bottom: 3rem;
}
.rating-box,
.size-box,
.width-box,
.purchased-box {
  grid-row: 2;
  margin-bottom: var(--margin-sm-2);
}
.fit-box,
.activity-box {
  grid-row: 3;
}
.rating-box {
  grid-column: 1/2;
}

.reviews-filters select {
  font-size: var(--font-size-md);
  color: transparent;
}

.reviews-filters .sort-box select {
  color: inherit;
}

.reviews-filters select option {
  color: var(--color-blue-800);
}

.reviews-filters select + div {
  display: inline-block;
  margin-left: -3rem;
  pointer-events: none;
}

.reviews-filters select,
.reviews-filters input {
  transition: none;
}

.reviews-filters select:focus,
.reviews-filters select:active,
.reviews-filters input:focus,
.reviews-filters input:active {
  box-shadow: var(--color-blue-800) 0px 2px 0px 0px inset,
    var(--color-blue-800) 2px 0px 0px 0px inset,
    var(--color-blue-800) -2px 0px 0px 0px inset;
}

.reviews-filters select ~ button {
  padding: 3px;
  margin-left: -3.5rem;
  display: none;
}
.reviews-filters select ~ button.shown {
  display: inline-block;
}

:is(.reviews-filters select ~ button, .search-box button) span {
  display: block;
  position: relative;
  height: 12px;
  width: 12px;
  text-indent: -9999em;
  background-color: transparent;
}

:is(.reviews-filters select ~ button, .search-box button) span::after,
:is(.reviews-filters select ~ button, .search-box button) span::before {
  content: "";
  position: absolute;
  width: 2px;
  top: 50%;
  left: 50%;
  height: 12px;
  background-color: var(--color-blue-800);
  transition: transform 250ms ease-in-out 0s;
}

:is(.reviews-filters select ~ button, .search-box button) span::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

:is(.reviews-filters select ~ button, .search-box button) span::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.reviews-list {
  padding-top: 3.6rem;
  padding-inline: var(--padding-xxl);
  margin-bottom: 7.8rem;
}

.reviews-list__header {
  margin-bottom: var(--margin-md);
  display: flex;
}
.reviews-list__header > p {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-2);
  font-weight: var(--font-weight-bold);
  flex-grow: 1;
}

.reviews-list__header > button {
  color: var(--color-blue-800);
  background-color: transparent;
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-widest);
  display: none;
}

.reviews {
  border-bottom: 1px solid var(--color-white-400);
}

.pages {
  margin-top: var(--margin-lg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages a {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  color: var(--color-blue-800);
  width: 4.2rem;
  height: 4.2rem;
  text-decoration: none;
}

.pages a p {
  padding-top: 2px;
  font-weight: inherit;
  font-size: var(--font-size-md);
}

.pages > a {
  font-weight: var(--font-weight-bold);
  opacity: 1;
}

.pages-container {
  display: flex;
}

.pages-container .active {
  opacity: 1;
  font-weight: var(--font-weight-bold);
  pointer-events: none;
}

.no-result-text {
  padding: 120px 20%;
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-2);
}
