.add-to-cart-btn {
  text-transform: uppercase;
  width: 100%;
  font-size: var(--font-size-md);
  padding: var(--padding-xsm) var(--padding-sm);
  cursor: pointer;
  transition: all 100ms ease 0s;
  letter-spacing: var(--letter-spacing-widest);
  background-color: var(--color-blue-800);
  color: var(--color-white-100);
  border: 2px solid var(--color-blue-800);
  border-radius: var(--border-radius-sm);
  text-align: center;
  text-decoration: none;
  opacity: 1;

  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.add-to-cart-btn:disabled {
  cursor: auto;
  background-color: var(--color-white-400);
  border-color: var(--color-white-400);
}

.add-to-cart-btn:not(:disabled):hover {
  background-color: var(--color-white-100);
  color: var(--color-blue-800);
}

.filter-btn {
  min-width: 4.2rem;
  padding: var(--padding-xxsm) 1rem;
  margin-right: var(--margin-xxsm);
  margin-bottom: var(--margin-xxsm);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing-wide);
  font-size: var(--font-size-sm);
  border: 1px solid var(--color-blue-800);
  border-radius: var(--border-radius-sm);
  outline: none;
  color: var(--color-blue-800);
  transition: background-color 125ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.filter-btn:hover {
  background-color: var(--color-white-400);
}

.filter-btn span {
  display: inline-block;
  padding: var(--padding-xxsm) 0;
}

.filter-btn:focus-visible {
  color: var(--color-blue-800);
  background-color: var(--border-color);
  outline: 2px solid var(--color-blue-800);
  outline-offset: 2px;
}
