@font-face {
  font-family: "Geograph";
  src: url("./../assets/fonts/geograph-bold.woff2");
  src: url("./../assets/fonts/geograph-medium-italic.woff2");
  src: url("./../assets/fonts/geograph-medium.woff2");
  src: url("./../assets/fonts/geograph-regular-italic.woff2");
  src: url("./../assets/fonts/geograph-regular.woff2");

  font-style: bold;
}

:root {
  --font-family: Geograph, Helvetica, Arial, sans-serif;

  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(33, 42, 47);
  --tertiary-color: rgb(173, 31, 0);
  --font-weight: 400;

  --margin-xsm: 1.2rem;
  --margin-sm: 1.8rem;
  --margin-md: 7.2rem;
  --margin-lg: 9rem;
  --margin-xl: 13rem;

  --letter-spacing-1: 1.7px;
  --letter-spacing-2: 2px;

  --font-size-1: 1.2rem;
  --font-size-2: 1.4rem;

  --line-height-1: 1.5;
  --line-height-2: 1.75;

  --flex-gap-sm: 1.5rem;
  --flex-gap-md: 1.8rem;
  --flex-gap-lg: 2.4rem;

  --nav-hight: 6rem;
  --nav-link-padding-sm: 0.6rem;
  --cart-btn-margin: 12px 30px 15px 0;
  --nav-outline-offset: 1rem;
  --nav-btn-min-width: 42px;
  --nav-btn-min-height: 42px;
  --nav-font-weight: 700;
  --nav-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 24px 0px;

  --logo-footer-width: 7.8rem;

  --container-max-width: 138rem;
  --container-padding: 0 2.4rem;
  --footer-padding: 7.2rem 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}
