@font-face {
  font-family: "Geograph";
  src: url("./../assets/fonts/geograph-bold.woff2");
  src: url("./../assets/fonts/geograph-medium-italic.woff2");
  src: url("./../assets/fonts/geograph-medium.woff2");
  src: url("./../assets/fonts/geograph-regular-italic.woff2");
  src: url("./../assets/fonts/geograph-regular.woff2");

  font-style: bold;
}

:root {
  --font-family: Geograph, Helvetica, Arial, sans-serif;

  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(33, 42, 47);
  --tertiary-color: rgb(173, 31, 0);
  --font-weight: 400;

  --margin-sm: 1.8rem;
  --margin-med: 1.2rem;
  --margin-xl: 13rem;

  --nav-hight: 6rem;
  --nav-flex-gap: 1.5rem;
  --nav-link-padding-sm: 0.6rem;
  --cart-btn-margin: 12px 30px 15px 0;
  --nav-outline-offset: 1rem;
  --nav-btn-min-width: 42px;
  --nav-btn-min-height: 42px;
  --nav-font-weight: 700;
  --nav-font-size: 1.2rem;
  --nav-line-height: 1.75;
  --nav-letter-spacing: 1.7px;
  --nav-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 24px 0px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}
