.address-form {
  display: none;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;

  max-width: 90rem;
  margin-inline: auto;
  margin-bottom: 5rem;
  text-align: left;
}

.address-form.show-form {
  display: grid;
}

:is(.country-wrapper, .state-wrapper, .city-wrapper) label {
  display: block;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-sm);
  text-transform: inherit;
  letter-spacing: 1px;
  margin-bottom: 0.8rem;
}

:is(.country-wrapper, .state-wrapper, .city-wrapper) select {
  margin-bottom: 1.9rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-white-100);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-lg);
  padding: 19px 20px;
  height: auto;
  cursor: pointer;
}

:is(.country-wrapper, .state-wrapper) select:focus-visible {
  outline: auto;
}

.default-wrapper {
  text-align: left;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.default-wrapper label {
  font-weight: var(--font-weight-normal);
  font-size: 1.2rem;
  text-transform: inherit;
  letter-spacing: 1px;
}

.address-btn {
  grid-column: 1/-1;
}

.cancel-btn {
  text-align: inherit;
  color: var(--color-black);
  text-decoration: underline;
  text-transform: inherit;
  margin-top: 1.6rem;
  font-weight: var(--font-weight-normal);
  font-size: 1.2rem;
  letter-spacing: 1px;
}
