.card-container {
  border: 1px solid red;
  padding: var(--padding-xsm);
}

.card-container p {
  color: var(--color-blue-800);
  line-height: var(--line-height-3);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-md);
  letter-spacing: var(--letter-spacing-wide);
}

.card-main .card-main__img {
  background-color: var(--color-white-300);
  margin-bottom: var(--margin-sm);
}

.card-main p {
  margin-bottom: var(--margin-xsm);
}

.card-main .card-main__name {
  font-weight: var(--font-weight-bold);

  padding-top: var(--padding-xsm);
}

.card-main .card-main__colors {
  margin-bottom: var(--margin-sm);
}

.card-secondary .card-secondary__title {
  font-weight: var(--font-weight-bold);
  padding-bottom: var(--padding-xsm);
}
