.sidebar {
  width: 23%;
  padding: var(--sidebar-padding);

  display: flex;
  flex-direction: column;
}

.sidebar div:first-of-type div {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
  padding-bottom: var(--nav-link-padding-sm);
  margin-bottom: var(--margin-sm);
}

.sidebar h1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-2);
  font-weight: var(--font-weight-bold);
  color: var(--color-blue-800);
  letter-spacing: var(--letter-spacing-wide);
}

.sidebar .links__list {
  margin-bottom: var(--margin-md);
  list-style: none;
}

.sidebar a:link,
.sidebar a:visited {
  display: inline-block;
  color: var(--color-blue-800);
  text-decoration: none;
  font-size: var(--font-size-md);
  font-family: inherit;
  letter-spacing: var(--letter-spacing-wide);
  margin-top: var(--margin-xsm);
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar a:active {
  font-weight: var(--font-weight-bold);
}

.sidebar .filterby__container {
  margin-bottom: var(--margin-sm);
  padding-bottom: var(--nav-link-padding-sm);
  border-bottom: 1px solid var(--border-color);
}

.sidebar .filterby__container p {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-2);
  font-size: var(--font-size-lg);
  letter-spacing: var(--letter-spacing-wide);
  margin-bottom: var(--margin-sm);
}

.sidebar h4 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-3);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-widest);
  text-transform: uppercase;
  color: var(--color-blue-800);
}

.sidebar .filter__container p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  color: rgb(33, 42, 47);
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-spacing-wide);
  margin-bottom: var(--margin-sm);
}

.sidebar .filter__container {
  padding: var(--filter-container-padding);
  margin-bottom: var(--margin-sm);
}

.sidebar .filter__container:not(:last-of-type) {
  border-bottom: 1px solid var(--color-white-400);
}

.sidebar .sizes__btn__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 0;
  gap: var(--flex-gap-xxsm);
}

.sidebar .sizes__btn__container button {
  min-width: var(--nav-btn-min-width);
  padding: var(--filter-button-padding);
  margin-right: var(--margin-xxsm);
  margin-bottom: var(--margin-xxsm);

  position: relative;
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing-wide);
  font-size: var(--font-size-sm);
  cursor: pointer;
  border: 1px solid var(--color-blue-800);
  border-radius: var(--border-radius-sm);
  outline: none;
  color: var(--color-blue-800);
  background-color: transparent;
}

.sidebar .sizes__btn__container button span {
  display: inline-block;
  padding: var(--nav-link-padding-sm) 0;
}

.sidebar .sizes__btn__container button:focus {
  color: var(--color-blue-800);
  background-color: var(--border-color);
  outline: 2px solid var(--color-blue-800);
  outline-offset: 2px;
}

.sidebar .filter__container li {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-light);
  margin-bottom: var(--margin-xsm);

  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar .filter__container li label {
  margin-left: var(--margin-xsm);
  cursor: pointer;
  width: 100%;
}
.sidebar .filter__container li input {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.sidebar .filter__container li input:checked + label {
  font-weight: var(--font-weight-bold);
}

.sidebar .filter__container .colors-filters-list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  outline: none;
  font-family: inherit;
  font-size: var(--font-size-lg);

  display: flex;
  align-items: center;
}

.sidebar .filter__container .colors-filters-list button:active {
  font-weight: var(--font-weight-bold);
}
.sidebar .filter__container .colors-filters-list button:active::before {
  outline: 2px solid var(--color-grey-700);
  outline-offset: 2px;
}

.sidebar .filter__container .colors-filters-list button::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-grey-700);
  margin-right: var(--margin-xsm);
}
