.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  width: 100%;

  background-color: var(--color-white-100);

  box-shadow: var(--shadow);

  position: relative;
  z-index: 1;
}

.nav .logo {
  margin-left: var(--margin-xxxl);
}

.nav__list {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: var(--margin-xsm);
  gap: var(--flex-gap-sm);
}

.nav__list button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4.2rem;
  min-height: 4.2rem;
  margin-left: var(--margin-sm);

 
  appearance: none;
}
.nav__list__cart {
  margin: 1.2rem 3rem 1.5rem 0;
}

.nav__list button:focus-visible {
  outline: var(--color-blue-800) solid 2px;
}

.nav__list button:hover {
  text-decoration: underline;
}

.nav__list button p {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-spacing-wider);
  text-transform: uppercase;
  color: var(--color-blue-800);
  
  font-weight: var(--font-weight-bold);
}

.nav__list a {
  display: inline-block;
  outline-offset: 1rem;
}

.nav__list .sale {
  color: var(--color-red-400);
}
