.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--nav-hight);
  width: 100%;

  background-color: var(--color-white-100);

  box-shadow: var(--shadow);

  position: relative;
  z-index: 1;
}

.nav .logo {
  margin-left: var(--margin-xxxl);
}

.nav__list {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: var(--margin-xsm);
  gap: var(--flex-gap-sm);
}

.nav__list button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--nav-btn-min-width);
  min-height: var(--nav-btn-min-height);
  margin-left: var(--margin-sm);

  background-color: transparent;
  border: none;
  cursor: pointer;
  appearance: none;
}
.nav__list__cart {
  margin: var(--cart-btn-margin);
}

.nav__list button:focus {
  outline: var(--color-blue-800) solid 2px;
}

.nav__list button:hover {
  text-decoration: underline;
}

.nav__list button p {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-spacing-wider);
  text-transform: uppercase;
  color: var(--color-blue-800);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
}

.nav__list a {
  display: inline-block;
  outline-offset: var(--nav-outline-offset);
}

.nav__list .sale {
  color: var(--color-red-400);
}
