.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--nav-hight);
  width: 100%;

  background-color: var(--primary-color);

  box-shadow: var(--nav-box-shadow);
}

.nav .logo {
  margin-left: var(--margin-xxxl);
}

.nav__list {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: var(--margin-xsm);
  gap: var(--flex-gap-sm);
}

.nav__list button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--nav-btn-min-width);
  min-height: var(--nav-btn-min-height);
  margin-left: var(--margin-sm);
  outline: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  appearance: none;
}
.nav__list__cart {
  margin: var(--cart-btn-margin);
}

.nav__list button:focus {
  outline: var(--secondary-color) solid 2px;
}

.nav__list button p {
  font-size: var(--font-size-1);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-1);
  text-transform: uppercase;
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: var(--nav-font-weight);
}

.nav__list a {
  display: inline-block;
  outline-offset: var(--nav-outline-offset);
}

.nav__list .sale {
  color: var(--tertiary-color);
}
