.footer {
  background-color: var(--secondary-color);
  width: 100%;
  color: var(--primary-color);
  padding: var(--footer-padding);
}

.footer__container {
  max-width: var(--container-max-width);
  padding: var(--container-padding);
}

.footer__container h3 {
  text-transform: uppercase;
  margin-bottom: var(--margin-sm);
  font-size: var(--font-size-2);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing-2);
}

.footer__container ul {
  list-style: none;
}

.footer__container p {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight);
  line-height: var(--line-height-1);
  letter-spacing: 0.5px;

  margin-bottom: var(--margin-sm);
}
