.footer {
  background-color: var(--color-blue-800);
  width: 100%;
  color: var(--color-white-100);
  padding: var(--padding-xxl);
  display: flex;
  justify-content: center;
}

.footer__container {
  max-width: var(--container-max-width);
  padding: var(--padding-lg);
}

.footer__container h3 {
  text-transform: uppercase;
  margin-bottom: var(--margin-sm);
  font-size: var(--font-size-md);
  font-family: var(--font-family-primary);
  letter-spacing: var(--letter-spacing-widest);
}

.footer__container ul {
  list-style: none;
}

.footer__container p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-wide);

  margin-bottom: var(--margin-sm);
}
