.footer-privacy__container p {
  text-align: center;
}

.footer-privacy__container p a:link,
.footer-privacy__container p a:visited {
  display: inline-block;
  color: var(--color-white-100);
}

.footer-privacy__container p a:hover,
.footer-privacy__container p a:active {
  cursor: pointer;
}

.footer-privacy__container p button {
  
  color: var(--color-white-100);
  text-decoration: underline;
  letter-spacing: var(--letter-spacing-wide);
  font-size: var(--font-size-sm);
  font-family: var(--font-family-primary);
}
