.addresses-section {
  background-color: #f1ebe7;
  padding-block: 22rem;
}

.addresses-container {
  max-width: 98rem;
  color: #333;
  margin-inline: auto;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: var(--letter-spacing-widest);
}

.addresses-title {
  color: inherit;
  letter-spacing: inherit;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl-2);
  margin-bottom: 2rem;
}

.new-address-btn {
  color: inherit;
  letter-spacing: inherit;
  margin-bottom: 5rem;
  text-transform: inherit;
  font-weight: var(--font-weight-normal);
  font-size: 1.2rem;
  text-decoration: underline;
}

.back-btn {
  display: inline-block;
  color: inherit;
  text-decoration: underline;
  margin-top: 8rem;
  text-transform: inherit;
  font-weight: var(--font-weight-normal);
  font-size: 1.2rem;
  letter-spacing: var(--letter-spacing-widest);
}
