.details {
  grid-row: details;
  grid-column: slider/main-img;
  margin-top: var(--margin-md);
  height: 100%;
}

.details > div {
  border-top: 1px solid var(--color-white-400);
}

.descriptionContainer {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition: all 150ms ease-in-out;
}
.descriptionContainer p {
  overflow-y: hidden;
}
.active {
  grid-template-rows: 1fr;
  opacity: 1;
}

.details div button {
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding-block: var(--padding-sm);
  background: var(--color-white-100);
}

.details div button p {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-wider);
  text-transform: uppercase;
  color: var(--color-blue-800);
}
